.kontentpaymentsummary {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 15px;
    margin-top: 40px;
    box-sizing: border-box;
    box-shadow: 11px 13px 7px 0px #78797a;
    background: linear-gradient(to bottom, #fffcfc 5%, #d4d4d4 100%);
    background-color: #fffcfc;
    border-radius: 10px;
    border: 1px solid #adadad;
    color: #282e30;
    font-family: Arial;
    font-size: 17px;
    padding: 32px 76px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
    justify-content: center;
    align-items: center;
}
.headersummary {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #877e7e;
}

.fieldsummary{
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #757272;
    font-weight: 600;
    margin-bottom: 20px;
}
.orderbutton {
    box-shadow: 4px 4px 0px 0px #6a6868;
    background: linear-gradient(to bottom, #d1c9d1 5%, #4e4d4d 100%);
    background-color: #d1c9d1;
    border-radius: 10px;
    border: 1px solid #e6d5d4;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 11px 10px;
    text-decoration: none;
    text-shadow: 4px 5px 3px #241413;
}
.notyfication
{
    position: sticky;
    top: 20px;
    left: 0px;
    width: 100%;
    background: #88e988;
    height: 49px;
    font-size: 41px;
    margin-top: 16px;
    visibility: hidden;
    text-align: center;
    color: #7a6f6f;
    text-shadow: none;
}