.userdata{
    display:flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 15px;
    margin-top: 40px;
    box-sizing: border-box;
	box-shadow: 11px 13px 7px 0px #78797a;
	background:linear-gradient(to bottom, #fffcfc 5%, #d4d4d4 100%);
	background-color:#fffcfc;
	border-radius:10px;
	border:1px solid #adadad;
	color:#282e30;
	font-family:Arial;
	font-size:17px;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}


.userdatafield {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    justify-content: space-around;
}
.menuuser {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background:linear-gradient(to bottom, #d1c9d1 5%, #4e4d4d 100%);
    padding: 15px 0px;
    border-radius: 10px;
}
.menuuserbutton {
    background: none;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-weight: 700;
    text-shadow:4px 5px 3px #241413;
}

.menuuserbutton:hover {
    opacity: 0.7;
    cursor: pointer;
}