.kontent{
    display:flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 15px;
    margin-top: 40px;
    box-sizing: border-box;
	box-shadow: 11px 13px 7px 0px #78797a;
	background:linear-gradient(to bottom, #fffcfc 5%, #d4d4d4 100%);
	background-color:#fffcfc;
	border-radius:10px;
	border:1px solid #adadad;
	color:#282e30;
	font-family:Arial;
	font-size:17px;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

.userdata{
    display:flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 15px;
    margin-top: 40px;
    box-sizing: border-box;
	box-shadow: 11px 13px 7px 0px #78797a;
	background:linear-gradient(to bottom, #fffcfc 5%, #d4d4d4 100%);
	background-color:#fffcfc;
	border-radius:10px;
	border:1px solid #adadad;
	color:#282e30;
	font-family:Arial;
	font-size:17px;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

.userdatacolumn{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.inputdata{
    width: 350px;
}

.divtabela{
	display:flex;
	clear:both;
	width:50%;
	flex-direction: column;
	margin-left: auto;
  margin-right: auto;
}

.tabela{
	border:1px solid;
	border-spacing: 0.5rem;
	padding: 0.5rem;
	clear:both;
	margin-left: auto;
  margin-right: auto;
}

tr{
	border:1px solid;
	border-spacing: 0.5rem;
	padding: 0.5rem;
	clear:both;
	margin-left: auto;
  margin-right: auto;
}

td, th{
	border:1px solid;
	border-spacing: 0.5rem;
	padding: 0.5rem;
	clear:both;
}