.mapandsearchconteiner{
    display:flex;
    flex-direction: row;
    width: 100%;
	justify-content: center;
	margin:20px 0px 40px 0px
}

.graveyard-map{
	border: solid;
}

.graveyard-map td{
	padding: 15px;
}

.graveyard-map td:hover{
	background-color: rgb(163, 163, 163);
}