
.Containerrip {
    width: 100%;
    display:flex;
    align-content: center;
    justify-content: center;
}
#closebutton {
    position: absolute;
    top: 3px;
    right: 3px;
    border: 1px solid #000;
    box-sizing: border-box;
    text-align: center;
    width: 15px;
    font-weight: 700;
    cursor: pointer;
}

.transformpopup {
    width: 300px;
    height: auto;
    background-color: #d4d4d4;
    color: black;
    position: absolute;
    top: 162px;
    left: 402px;
    display: flex;
    flex-direction: column;
    z-index: 5;
    padding-bottom: 10px;
}
.normalpopup{
    width: 300px;
    height: auto;
    background-color: #d4d4d4;
    color: black;
    position: relative;
    top: -16px;
    left: 0px;
    display: flex;
    flex-direction: column;
    z-index: 5;
    padding-bottom: 10px;
}
.detailgraverow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    justify-content: space-around;
    margin-top: 25px;
}
.detailgravecolumn{
font-size: medium;
}
.Boczek {
    margin-left: 30px;
    height: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.tlo1
{
    display: flex;
    height: 670px;
    position: relative;
    box-shadow: 11px 13px 7px 0px #78797a;
    background: linear-gradient(to bottom, #fffcfc 5%, #d4d4d4 100%);
    background-color: #fffcfc;
    border-radius: 10px;
    border: 1px solid #adadad;
    padding: 0px 32px;
    text-decoration: none;
}
.Map{
    display:flex;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    background-image: url('mapka.png');
    width: 960px;
    height: 650px;
    margin-top: 10px;

}
.RipFinderrowcenter{
display: flex;
width: 100%;
justify-content: center;
margin-bottom: 5px;
}
.RipFinderrow {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 15px;
}
.findbutton {
    box-shadow: 4px 4px 0px 0px #6a6868;
    background: linear-gradient(to bottom, #d1c9d1 5%, #4e4d4d 100%);
    background-color: #d1c9d1;
    border-radius: 10px;
    border: 1px solid #e6d5d4;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 10px;
    text-decoration: none;
    text-shadow: 4px 5px 3px #241413;
    cursor: pointer;
}


.Find{
    display: flex;
    flex-direction: column;
    box-shadow: 11px 13px 7px 0px #78797a;
    background: linear-gradient(to bottom, #fffcfc 5%, #d4d4d4 100%);
    background-color: #fffcfc;
    border-radius: 10px;
    border: 1px solid #adadad;
    height: 180px;
    width: 360px;
    margin-bottom: 15px;
 
}
#leb{
    vertical-align: middle;
}
.Info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 11px 13px 7px 0px #78797a;
    background: linear-gradient(to bottom, #fffcfc 5%, #d4d4d4 100%);
    background-color: #fffcfc;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #adadad;
    height: 550px;
    width: 360px;
    

}
.findresult{
    margin-bottom: 10px;
    cursor: pointer;
}
input{
    background-color: white;
    margin-left: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    height: 25px;
    text-size-adjust: auto;
    width: 190px;
}
.errorfieldsearch {
    position: relative;
    top: 22px;
    left: -248px;
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin-right: -243px;
}
h5{

    display: table-cell;
    text-align: center;
    vertical-align: middle;
 
}
.isburial{
    background-color: rgb(231, 230, 178);
}
.isnotburial{
    display: none;
   /* background-color: rgb(231, 178, 178);*/
}
.A{
    width: 165px;
    height: 127px;
    position: absolute;
    top: 72px;
    left: 31px;
}
.B{
    width: 164px;
    height: 127px;
    position: absolute;
    top: 72px;
    left: 207px;
}
.C{
    width: 164px;
    height: 127px;
    position: absolute;
    top: 72px;
    left: 382px;
}
.D{
    width: 252px;
    height: 82px;
    position: absolute;
    top: 210px;
    left: 31px;
}
.E{
    width: 252px;
    height: 82px;
    position: absolute;
    top: 210px;
    left: 294px;
}
.F{
    width: 252px;
    height: 91px;
    position: absolute;
    top: 304px;
    left: 31px;
}
.G{
    width: 252px;
    height: 91px;
    position: absolute;
    top: 304px;
    left: 294px;
}
.H{
    width: 136px;
    height: 166px;
    position: absolute;
    top: 407px;
    left: 31px;
}
.I{
    width: 138px;
    height: 166px;
    position: absolute;
    top: 407px;
    left: 178px;
}

.J {
    
    width: 0;
    height: 0;
    position: absolute;
    top: 234px;
    left: 702px;
    transform: rotate(90deg);
}
.J4 {
  
    width: 0;
    height: 0;
    position: absolute;
    top: 244px;
    left: 715px;
}
.J3 {
    width: 0;
    height: 0;
    position: absolute;
    top: 237px;
    left: 728px;
    transform: rotate(270deg);
}
.J2{
    
        width: 0;
        height: 0;
        margin: 0 auto;
        transform: rotate(180deg);
        border: none;
        position: absolute;
        top: 217px;
        left: 716px;
    
       
    
}
.K{
    width: 198px;
    height: 80px;
    position: absolute;
    top: 407px;
    left: 678px;
}
.L{
    width: 198px;
    height: 83px;
    position: absolute;
    top: 500px;
    left: 678px;
}
.a1{
    width: 40px;
    height: 16px;
    position: absolute;
    top: 12px;
    left: 10px;
    border: solid 1px;
    cursor: pointer;
}
.a2{
    width: 40px;
    height: 16px;
    position: absolute;
    top: 12px;
    left: 60px;
    border: solid 1px;
    cursor: pointer;
}
.a3{
    width: 40px;
    height: 16px;
    position: absolute;
    top: 12px;
    left: 110px;
    border: solid 1px;
    cursor: pointer;
}
.a4{
    width: 40px;
    height: 16px;
    position: absolute;
    top: 38px;
    left: 10px;
    border: solid 1px;
    cursor: pointer;
}
.a5{
    width: 40px;
    height: 16px;
    position: absolute;
    top: 38px;
    left: 60px;
    border: solid 1px;
    cursor: pointer;
}
.a6{
    width: 40px;
    height: 16px;
    position: absolute;
    top: 38px;
    left: 110px;
    border: solid 1px;
    cursor: pointer;
}
.a7{
    width: 40px;
    height: 16px;
    position: absolute;
    top: 64px;
    left: 10px;
    border: solid 1px;
    cursor: pointer;
}
.a8{
    width: 40px;
    height: 16px;
    position: absolute;
    top: 64px;
    left: 60px;
    border: solid 1px;
    cursor: pointer;
}
.a9{
    width: 40px;
    height: 16px;
    position: absolute;
    top: 64px;
    left: 110px;
    border: solid 1px;
    cursor: pointer;
}
.a10{
    width: 40px;
    height: 16px;
    position: absolute;
    top: 90px;
    left: 10px;
    border: solid 1px;
    cursor: pointer;
}
.a11{
    width: 40px;
    height: 16px;
    position: absolute;
    top: 90px;
    left: 60px;
    border: solid 1px;
    cursor: pointer;
}
.a12{
    width: 40px;
    height: 16px;
    position: absolute;
    top: 90px;
    left: 110px;
    border: solid 1px;
    cursor: pointer;
}
.b1{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    border: solid 1px;
    cursor: pointer;
}
.b2{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 36px;
    border: solid 1px;
    cursor: pointer;
}
.b3{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 62px;
    border: solid 1px;
    cursor: pointer;
}
.b4{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 88px;
    border: solid 1px;
    cursor: pointer;
}
.b5{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 114px;
    border: solid 1px;
    cursor: pointer;
}
.b6{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 140px;
    border: solid 1px;
    cursor: pointer;
}
.b7{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 166px;
    border: solid 1px;
    cursor: pointer;
}
.b8{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 192px;
    border: solid 1px;
    cursor: pointer;
}
.b9{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 218px;
    border: solid 1px;
    cursor: pointer;
}
.b10{
    width: 40px;
    height: 16px;
    position: absolute;
    top: 58px;
    left: 15px;
    border: solid 1px;
    cursor: pointer;
}
.b11{
    width: 40px;
    height: 16px;
    position: absolute;
    top: 58px;
    left: 70px;
    border: solid 1px;
    cursor: pointer;
}
.b12{
    width: 40px;
    height: 16px;
    position: absolute;
    top: 58px;
    left: 125px;
    border: solid 1px;
    cursor: pointer;
}
.b13{
    width: 40px;
    height: 16px;
    position: absolute;
    top: 58px;
    left: 180px;
    border: solid 1px;
    cursor: pointer;
}
.e50{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    border: solid 1px;
    cursor: pointer;
}
.c1{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 9px;
    border: solid 1px;
    cursor: pointer;
}
.c2{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 34px;
    border: solid 1px;
    cursor: pointer;
}
.c3{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 59px;
    border: solid 1px;
    cursor: pointer;
}
.c4{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 84px;
    border: solid 1px;
    cursor: pointer;
}
.c5{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 109px;
    border: solid 1px;
    cursor: pointer;
}
.c6{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 60px;
    left: 9px;
    border: solid 1px;
    cursor: pointer;
}
.c7{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 60px;
    left: 34px;
    border: solid 1px;
    cursor: pointer;
}
.c8{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 60px;
    left: 59px;
    border: solid 1px;
    cursor: pointer;
}
.c9{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 60px;
    left: 84px;
    border: solid 1px;
    cursor: pointer;
}
.c10{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 60px;
    left: 109px;
    border: solid 1px;
    cursor: pointer;
}
.c11{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 110px;
    left: 9px;
    border: solid 1px;
    cursor: pointer;
}
.c12{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 110px;
    left: 34px;
    border: solid 1px;
    cursor: pointer;
}
.c13{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 110px;
    left: 59px;
    border: solid 1px;
    cursor: pointer;
}
.c14{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 110px;
    left: 84px;
    border: solid 1px;
    cursor: pointer;
}
.c15{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 110px;
    left: 109px;
    border: solid 1px;
    cursor: pointer;
}
.d1{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 100px;
    left: -90px;
    border: solid 1px;
    cursor: pointer;    
    transform: rotate(-45deg);
}
/*.d1 > #detailquater{
    background-color: red;
    transform: rotate(-45deg) translateZ(100px);
    position: relative;
    z-index: 10;
}*/
.d2{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 82px;
    left: -72px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(-45deg);
}
.d3{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 64px;
    left: -54px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(-45deg);
}
.d4{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 46px;
    left: -36px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(-45deg);
}
.d5{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 28px;
    left: -18px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(-45deg);
}
.d6{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 0px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(-45deg);
}
.d7{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 100px;
    left: -16px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(-45deg);
}
.d8{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 82px;
    left: 2px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(-45deg);
}
.d9{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 64px;
    left: 20px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(-45deg);
}
.d10{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 46px;
    left: 38px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(-45deg);
}
.d11 {
    width: 16px;
    height: 40px;
    position: absolute;
    top: 100px;
    left: 58px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(-45deg);
}
.d12 {
    width: 16px;
    height: 40px;
    position: absolute;
    top: 82px;
    left: 76px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(-45deg);
}
.e1{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 82px;
    left: 76px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(135deg);
}
.e2{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 100px;
    left: 58px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(135deg);
}
.e3{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 46px;
    left: 38px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(135deg);
}
.e4{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 64px;
    left: 20px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(135deg);
}
.e5{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 82px;
    left: 2px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(135deg);
}
.e6{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 100px;
    left: -16px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(135deg);
}
.e7 {
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 0px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(135deg);
}
.e8 {
    width: 16px;
    height: 40px;
    position: absolute;
    top: 28px;
    left: -18px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(135deg);
}
.e9{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 46px;
    left: -36px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(135deg);
}
.e10{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 64px;
    left: -54px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(135deg);
}
.e11{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 82px;
    left: -72px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(135deg);
}
.e12{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 100px;
    left: -90px;
    border: solid 1px;
    cursor: pointer;
    transform: rotate(135deg);
}
.k1{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    border: solid 1px;
    cursor: pointer;
}
.k2{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 36px;
    border: solid 1px;
    cursor: pointer;
}
.k3{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 62px;
    border: solid 1px;
    cursor: pointer;
}
.k4{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 88px;
    border: solid 1px;
    cursor: pointer;
}
.k5{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 114px;
    border: solid 1px;
    cursor: pointer;
}
.k6{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 140px;
    border: solid 1px;
    cursor: pointer;
}
.k7{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 166px;
    border: solid 1px;
    cursor: pointer;
}
.k8{
    width: 40px;
    height: 16px;
    position: absolute;
    top: 58px;
    left: 20px;
    border: solid 1px;
    cursor: pointer;
}
.k9{
    width: 40px;
    height: 16px;
    position: absolute;
    top: 58px;
    left: 80px;
    border: solid 1px;
    cursor: pointer;
}
.k10{
    width: 40px;
    height: 16px;
    position: absolute;
    top: 58px;
    left: 140px;
    border: solid 1px;
    cursor: pointer;
}